<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header') %>
    <body class="bg-dark">
          <div class="row pt-5">
            <div class="col-12">
                <span class="d-flex justify-content-center"><img src='../assets/logbook.png' alt="Location" width="200px"></span>
                <h1 class='d-flex justify-content-center text-light'>ED's LOGS</h1>
            </div>
          </div>

          <div class="row pt-5 d-flex justify-content-center">
            <div class="col-1 d-flex justify-content-center">
              <a href="https://www.facebook.com/eddychinito/"> <span class="d-flex justify-content-center"><img src="../assets/fb.png" alt="Weather" width="100px"></span></a>
            </div>
            <div class="col-1">
              <a href="https://www.instagram.com/edpikot/"> <span class="d-flex justify-content-center"><img src="../assets/insta.png" alt="Weather" width="100px"></span></a>
            </div>
            <div class="col-1 d-flex justify-content-center">
              <a href="https://github.com/Edacity11"> <span class="d-flex justify-content-center"><img src="../assets/github.png" alt="Weather" width="100px"></span></a>
            </div>
          </div>

          <div class="row pt-5 d-flex justify-content-center">
            <div class="col-3">
              <form action="/personlist" method="POST">
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="location" name = "Location" required>
                  <option selected disabled>Timezones</option>
                  <option  value="Asia/Manila">Philippines</option>
                  <option  value="Asia/Hong_Kong">Hong Kong</option>
                  <option  value="America/Chicago">Chicago</option>
                  <option  value="Europe/Paris">Paris</option>
                  <option  value="Australia/Darwin">Darwin</option>
                </select>
                <container class="d-flex justify-content-end">
                  <button class="btn btn-outline-warning btn-lg" id="submit">JOIN</button>
                </container>
                
              </form>
            </div>
          </div>

          

          <%- include('./partials/footer') %>
          <script> //To disable button if no options are selected
            let input = document.querySelector("#location");
            let button = document.querySelector("#submit");

            button.disabled = true;
            input.addEventListener("change", stateHandle);

            function stateHandle() {
              if (input.value === "") {
                button.disabled = true;
              } else {
                button.disabled = false;
              }
            }
          </script>
        
    </body>
    
</html>